.LangSwitcher {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: all var(--animation-fast);
  background: transparent;
  border: none;
}

.primary {
  &:hover {
    background: var(--inverted-shadow-color);
  }
}

.inverted {
  &:hover {
    background: var(--shadow-color);
  }
}
