.icon {
  width: 28px;
  height: 28px;
  fill: var(--secondary-color);
  opacity: 0.2;
  transition: all var(--animation-fast);

  &:hover {
    opacity: 1;
  }
}

.selected {
  opacity: 1;
}

.ArticlesViewSelectorRedesigned {
  fill: var(--light-bg-redesigned);
  display: flex;
  gap: 8px;
}
