.popup {
  position: relative;
}

.trigger {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.active {
  background: var(--inverted-shadow-color);
}
