.Button {
  cursor: pointer;
}

.clear,
.clear-inverted {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.clear-inverted {
  color: var(--inverted-primary-color);
}

.outline,
.outline-inverted {
  padding: 10px 25px;
  border: 1px solid var(--inverted-bg-color);
  background: none;
  border-radius: 16px;
  color: var(--secondary-color);
}

.outline-inverted {
  border: 1px solid var(--bg-color);
  color: var(--inverted-secondary-color);
}

.size_m {
  font-size: var(--font-size-m);
}

.size_l {
  font-size: var(--font-size-l);
}

.size_xl {
  font-size: var(--font-size-xl);
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}
