.SidebarItem {
  .text {
    opacity: 1;
    transition: all var(--animation-fast);
  }

  &.collapsed {
    gap: 0;

    .text {
      width: 0;
      opacity: 0;
    }
  }

  .img {
    height: 40px;
    width: 40px;
    fill: var(--inverted-primary-color);
    transition: var(--animation-fast);
  }

  &:hover {
    color: var(--inverted-shadow-color);

    .img {
      fill: var(--inverted-shadow-color);
    }
  }
}

.SidebarItemRedesigned {
  padding: 0 16px;

  &.collapsed {
    padding: 0;

    .text {
      width: 0;
      opacity: 0;
    }
  }
}

.appLink {
  width: 100%;

  &.active {
    background:
      linear-gradient(
        89.97deg,
        rgb(94 211 243 / 30%) 1.15%,
        rgb(94 211 243 / 0%) 99.97%
      );
    position: relative;
    border-left: 2px solid var(--accent-redesigned);
  }
}
