.Sidebar {
  border: 1px solid var(--inverted-shadow-color);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-left: 0;
  border-bottom: 0;
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  width: 500px;
  transition: width var(--animation-fast);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggleBtn {
  color: var(--inverted-primary-color);
  top: 30px;
  right: 30px;
  border: 1px solid var(--inverted-shadow-color);
  border-radius: 4px;
  background: transparent;
  margin-bottom: 50px;
  align-self: end;

  &:hover {
    background: var(--shadow-color);
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--inverted-primary-color);
  transition: var(--animation-fast);

  a:hover {
    color: var(--inverted-shadow-color);
  }
}

.switchers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
