.Sidebar {
  border: 1px solid var(--inverted-shadow-color);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-left: 0;
  border-bottom: 0;
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  width: 500px;
  transition: width var(--animation-fast);
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.toggleBtn {
  color: var(--inverted-primary-color);
  position: absolute;
  top: 20px;
  right: 0;
  border: 1px solid var(--inverted-shadow-color);
  border-right: none;
  border-radius: 4px;
  background: transparent;
  align-self: end;

  &:hover {
    background: var(--shadow-color);
  }
}

.navbar {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: var(--animation-fast);
}

.img {
  height: 40px;
  width: 40px;
  fill: var(--inverted-primary-color);
  transition: var(--animation-fast);
}

.link {
  display: flex;
  gap: 15px;
  align-items: end;

  &:hover {
    color: var(--inverted-shadow-color);

    .img {
      fill: var(--inverted-shadow-color);
    }
  }
}

.line {
  height: 1px;
  width: 100%;
  margin-top: 30px;
  background: var(--inverted-primary-color);
}

.switchers {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  transition: opacity var(--animation-fast);
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .link {
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .item {
    opacity: 0;
    width: 0;
  }
}
