.Sidebar {
  border: 1px solid var(--inverted-shadow-color);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-left: 0;
  border-bottom: 0;
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  width: var(--sidebar-width);
  transition: width var(--animation-fast);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  button {
    cursor: pointer;
    color: var(--inverted-primary-color);
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
