.ArticleDetailsPageHeader {
  display: flex;
  align-items: center;
}

.editBtn {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  height: 24px;
  width: 24px;
}

.editIcon {
  fill: var(--primary-color);
}
