.LangSwitcher {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all var(--animation-fast);
  background: transparent;
  border: none;

  &:hover {
    background: var(--shadow-color);
  }
}
