.darkTheme {
  --bg-color: #202020;
  --inverted-bg-color: #e0e0e0;
  --shadow-color: #c2c1c1;
  --inverted-shadow-color: #444;
  --primary-color: #fff;
  --inverted-primary-color: #000;
  --secondary-color: #e0e0e0;
  --inverted-secondary-color: #202020;

  // Redesigned
  --dark-bg-redesigned: #090f11;
  --bg-redesigned: #0c1214;
  --light-bg-redesigned: #151c1f;
  --text-redesigned: #dbdbdb;
  --hint-redesigned: #555;
  --cancel-redesigned: #d95757;
  --save-redesigned: #6cd98b;
  --icon-redesigned: #74a2b2;
  --accent-redesigned: #5ed3f3;

  // Skeleton
  --skeleton-color: #363636;
  --skeleton-shadow: #aeaeae;

  // Card
  --card-bg: #282727;
}
