:root {
  --bg-color: #e0e0e0;
  --inverted-bg-color: #202020;

  --shadow-color: #444444;
  --inverted-shadow-color: #c2c1c1;

  --primary-color: #000;
  --inverted-primary-color: #ffffff;

  --secondary-color: #202020;
  --inverted-secondary-color: #e0e0e0;
}
