.PageError {
  font: var(--font-l);
}

.btnWrapper {
  color: var(--inverted-secondary-color) !important;
  border-radius: 25px;
  padding: 20px 25px;
  background-color: var(--secondary-color);
}

.btn {
  gap: 50px;
}
