.editBlock {
  margin-left: auto;
}

.icon {
  height: 24px;
  width: 24px;
}

.edit {
  fill: var(--primary-color);
}

.confirm {
  fill: var(--green-light);
}

.cancel {
  fill: var(--red-light);
}
