.Button {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.clear,
.clear_inverted {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.clear_inverted {
  color: var(--inverted-primary-color);
}

.outline,
.outline_inverted,
.outline_green,
.outline_red {
  padding: 10px 25px;
  border: 1px solid var(--inverted-bg-color);
  background: none;
  border-radius: 16px;
  color: var(--secondary-color);
}

.outline_inverted {
  border-color: var(--bg-color);
  color: var(--inverted-secondary-color);
}

.outline_green {
  border-color: var(--green-light);
}

.outline_red {
  border-color: var(--red-light);
}

.size_m {
  font-size: var(--font-size-m);
}

.size_l {
  font-size: var(--font-size-l);
}

.size_xl {
  font-size: var(--font-size-xl);
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.fullWidth {
  width: 100%;
}
