.NotificationItem,
.link {
  width: 100%;
}

.NotificationItem {
  padding: 10px 20px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--primary-color);
  }
}

.link {
  &:not(:last-child) {
    border-bottom: 1px solid var(--primary-color);
  }

  .NotificationItem {
    border: none;
  }
}
