.ProfileCard {
  border: 2px solid var(--shadow-color);
  padding: 20px;
}

.loading {
  height: 600px;
}

.error {
  height: 300px;
}

.editing {
  border: 2px solid var(--primary-color);
}

.inputsWrapper {
  margin-top: 32px;
}
