.ThemeSwitcher {
  background: transparent;
  border: none;
  height: 60px;
  width: 60px;
  padding: 10px;
  border-radius: 50%;
  transition: all var(--animation-fast);

  &:hover {
    background: var(--shadow-color);
  }
}

.primary {
  fill: var(--primary-color);

  &:hover {
    background: var(--inverted-shadow-color);
  }
}

.inverted {
  fill: var(--inverted-primary-color);

  &:hover {
    background: var(--shadow-color);
  }
}
